<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
      .dangerous {
        background-color: lightpink;
      }
    </style>
    <title>Transactions</title>
  </head>
  <body>
    <main class="container">
      <article>
        <h2>5 transactions to review</h2>
        <table>
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Submit datetime</th>
              <th scope="col">Amount</th>
              <th scope="col">Receiver id</th>
              <th scope="col">Not fraud</th>
            </tr>
          </thead>
          <tbody>
          {% for trans in transactions %}
            {% if trans.can_be_fraud %}<tr class="dangerous">{% else %}<tr>{% endif %}
            <th style="font-size: x-small">{{trans.id}}</th>
            <td>{{trans.submitted_at}}</td>
            <td>{{trans.amount}} {{trans.currency}}</td>
            <td style="font-size: x-small">{{trans.receiver_uid}}</td>
            <td>{% if not trans.can_be_fraud %}✅{% else %}❌{% endif %}</td>
          {% endfor %}
          </tbody>
        </table>
      </article>
    </main>
  </body>
</html>
